{% extends 'layout/navbar.html' %}

{% block title %}DrSmile{% endblock %}

{% block content %}
<!-- Conversation container -->
<div class="container" style="max-width: 870px;" id="conversationContainer">
    <div id="conversation">
        {% if messages %}
        {% for message in messages %}
        <div class="chat-message {{ 'user-message text-end' if message.sender == 'user' else 'bot-message' }} mb-3">
            {% if message.sender == 'user' %}
            <div class="alert alert-secondary d-inline-block chat-bubble border-0">
                {{ message.text }}<br>
                <small>{{ message.time }}</small>
            </div>
            {% else %}
            <div class="d-flex align-items-start">
                <img src="{{ url_for('static', filename='images/bot_avatar.png') }}" alt="Bot Logo"
                    class="rounded-circle me-2" style="width: 40px; height: 40px;">
                <div class="alert alert-info d-inline-block chat-bubble mb-0 border-0">
                    <strong></strong> {{ message.text|escape }}<br>
                    <small>{{ message.time }}</small>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center" style="font-size: 1.2rem; padding-top: 50px; color: #636363;">
            <i>Your conversation will appear here...</i>
        </p>
        {% endif %}
    </div>
</div>

<div id="chatInputBar"
    style="position: fixed; bottom: 0px; left: 0; width: 100%; padding-top: 0 !important; background-color: #0F0F0F; padding: 1.9rem; z-index: 999;">
    <div class="container" style="max-width: 900px;">
        <div class="input-container">
            <div class="input-wrapper">
                <textarea id="userInput" class="form-control chat-input" placeholder="Ask anything"
                    style="max-height: 150px; overflow-y: auto; resize: none;" required></textarea>
                <div class="icons-container">
                    <label for="fileInput" class="file-attach-icon">
                        <div class="send-icon">
                            <img src="{{ url_for('static', filename='images/paperclip.png') }}" alt="Attach File"
                                class="icon" />
                        </div>
                    </label>
                    <input type="file" id="fileInput" style="display: none;" />
                    <button id="sendBtn" class="send-icon">
                        <img src="{{ url_for('static', filename='images/send-icon.png') }}" alt="Send" class="icon" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var chatbotAjaxUrl = "{{ url_for('chatbot_ajax') }}";
</script>

<script src="{{ url_for('static', filename='scripts/chatbot.js') }}"></script>
{% endblock %}