<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Check Your Email - DrSmile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="check-email-container">
        <div class="email-icon">
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg width='84' height='84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23A777E3' stroke-width='3' fill='none' fill-rule='evenodd'%3E%3Ccircle cx='42' cy='42' r='40.5'/%3E%3Cpath d='M21 27.5a.5.5 0 0 0-.5.5v28a.5.5 0 0 0 .5.5h42a.5.5 0 0 0 .5-.5V28a.5.5 0 0 0-.5-.5H21z'/%3E%3Cpath d='M21 28l21 19 21-19M37.07 42.19L21 56m26-13.81L63.07 56'/%3E%3C/g%3E%3C/svg%3E"
                alt="Email Icon" width="94" height="94">
        </div>
        <h1 class="check-email-title">Check Your Email</h1>
        <p class="check-email-text">
            We’ve sent a password reset link to <i>{{ email }}</i>. Please check your inbox (and spam/junk folder) for instructions to reset your password.
            {% if error %}
            <br><span class="login-error error">{{ error }}</span>
            {% endif %}
        </p>
        <div class="btn-resend-group">
            <form method="POST" action="{{ url_for('resend_email') }}">
                <input type="hidden" name="email" value="{{ email }}">
                <button type="submit" class="btn-resend">Resend email</button>
            </form>
        </div>
    </div>
</body>

</html>