{% extends 'auth/login.html' %}

{% block title %}Reset Password{% endblock %}

{% block container_class %}reset-page-container{% endblock %}

{% block title_class %}reset-title{% endblock %}

{% block page_title %}Reset your password{% endblock %}

{% block content %}
<form method="POST" class="reset-form">
    <p class="instruction-text">Enter a new password below to change your password.</p>

    <div class="floating-label-group {% if highlight_password %}error{% endif %}">
        <input type="password" name="password" id="passwordInput" class="floating-input" placeholder=" " required
            value="{{ password }}">
        <label for="passwordInput" class="floating-label">New password*</label>
    </div>
    <div class="floating-label-group {% if highlight_password %}error{% endif %}">
        <input type="password" name="confirm_password" id="confirmPasswordInput" class="floating-input" placeholder=" "
            required value="{{ confirm_password }}">
        <label for="confirmPasswordInput" class="floating-label">Re-enter new password*</label>
    </div>
    {% if error %}
    <div class="login-error {{ message_type }}">
        {{ error }}
    </div>
    {% if error_type == "length" %}
    <div class="password-requirements">
        <p>Your password must contain:</p>
        <ul>
            <li>At least 8 characters</li>
        </ul>
    </div>
    {% endif %}
    {% endif %}
    <div class="btn-continue-group">
        <button type="submit" class="btn-continue">Reset password</button>
    </div>
</form>

<div class="back-to-login-line">
    <a href="{{ url_for('login') }}">Back to login</a>
</div>
{% endblock %}