{% extends 'auth/login.html' %}

{% block title %}Reset Password{% endblock %}

{% block container_class %}reset-page-container{% endblock %}

{% block title_class %}reset-title{% endblock %}

{% block page_title %}Reset your password{% endblock %}

{% block content %}

<form method="POST" class="reset-form">
    <p class="instruction-text">Enter your email address and we will send you instructions to reset your password.</p>

    <div class="floating-label-group">
        <input type="email" name="email" id="emailInput" class="floating-input" placeholder=" " required />
        <label for="emailInput" class="floating-label">Email address*</label>
    </div>
    {% if error %}
    <div class="login-error {{ message_type }}">
        {{ error }}
    </div>
    {% endif %}
    <div class="btn-continue-group">
        <button type="submit" class="btn-continue">Continue</button>
    </div>
</form>

<div class="back-to-login-line">
    <a href="{{ url_for('login') }}">Back to login</a>
</div>
{% endblock %}